{
  "profile": "my-jump-account",
  "region": "eu-west-1",
  "jump_instance": "my-bastion-container",
  "connections": {
    "Production Database": {
      "target_host": "prod-db.cluster-xxxx.eu-west-1.rds.amazonaws.com",
      "local_port": 5432,
      "remote_port": 5432,
      "autostart": true
    },
    "Staging Database": {
      "target_host": "test-db.cluster-xxxx.eu-west-1.rds.amazonaws.com",
      "local_port": 5433,
      "remote_port": 5432,
      "profile": "my-test-account",
      "jump_instance": "i-0123456789abcdef0"
    },
    "Staging Database over ECS": {
      "target_host": "test-db.cluster-xxxx.eu-west-1.rds.amazonaws.com",
      "local_port": 5434,
      "remote_port": 5432,
      "profile": "my-test-account",
      "jump_instance": "ecs:my-cluster_12345678901234567890123456789012_12345678901234567890123456789012-0151737364"
    }
  }
}